<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>:vue</title>
</head>
<style type="text/css">
	* {
		font-size: 14px;
	}
	body {
		width: 1000px;
		margin: 0 auto;
	}
	div {
		margin-bottom: 5px;
	}
	div[id^=example] {
		/*border-top: 3px solid rgba(185, 117, 68, 0.4);*/
		padding-top: 20px;
		border-bottom: 1px dashed #ccc;
		margin-bottom: 50px;
	}
</style>
 
<body>
	<div id="example1">
		<anchored-heading :level="1">
			我是3号标题
		</anchored-heading>
	</div>

</body>
 
</html>
<script src="../../js/vue.js"></script>

<script type="x-template" id="anchoredHeadingTemplate">
	<div>
		<h1 v-if="level === 1">
			<slot></slot>
		</h1>
		<h2 v-if="level === 2">
			<slot></slot>
		</h2>
		<h3 v-if="level === 3">
			<slot></slot>
		</h3>
		<h4 v-if="level === 4">
			<slot></slot>
		</h4>
		<h5 v-if="level === 5">
			<slot></slot>
		</h5>
		<h6 v-if="level === 6">
			<slot></slot>
		</h6>
	</div>
</script>

<!-- 1.注册全局组件 -->
<script>
	// 1.先注册heading组件
	Vue.component('anchored-heading',{
		template: '#anchoredHeadingTemplate',
		props: {
			level: {
				type: Number,
				required: true
			}
		}
	});
	// 2.创建根实例
	new Vue({
		el: '#example1'
	});
</script>

