<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>10_多个元素的过渡</title>
</head>
<style type="text/css">
	* {
		font-size: 14px;
	}
	body {
		width: 1000px;
		margin: 0 auto;
	}
	div {
		margin-bottom: 5px;
	}
	div[id^=example] {
		/*border-top: 3px solid rgba(185, 117, 68, 0.4);*/
		padding-top: 20px;
		border-bottom: 1px dashed #ccc;
		margin-bottom: 50px;
	}
	.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s
	}
	.fade-enter, .fade-leave-active {
	  opacity: 0
	}
</style>
 
<body>
	<div id="demo">

		<h5>切换当前router</h5>
		<ul>
			<li v-for="router in list" @click="changeRouter(router)">{{router.name}}</li>
		</ul>

		<!-- 添加过渡并没有过渡效果：vue为了效率对相同标签并没有替换元素，而是替换元素内容 -->
		<!-- <transition name="fade">
			<button v-if="currRouter == 'home'">home</button>
			<button v-if="currRouter == 'login'">login</button>
			<button v-if="currRouter == 'user'">user</button>
		</transition>	 -->

		<transition name="fade" mode="out-in">
			<button key="home" v-if="currRouter == 'home'">home</button>
			<button key="login" v-if="currRouter == 'login'">login</button>
			<button key="user" v-if="currRouter == 'user'">user</button>
		</transition>	



	</div>
</body>
 
</html>
<script src="../../js/vue.js"></script>

<!-- 1.注册全局组件 -->
<script>

	// 2.创建根实例
	new Vue({
		el: '#demo',
		data: {
			show: true,
			list: [
				{
					name: 'home'
				},
				{
					name: 'login'
				},
				{
					name: 'user'
				}
			],
			currRouter: 'home'
		},
		methods: {
			changeRouter(router){
				this.currRouter = router.name;
			}
		}
	});
</script>

